.navbar-custom { 
    background-color: rgb(0, 0, 0);
    height: 54px;
    padding: 0px;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}