<!DOCTYPE html>

{% load static %}

<head>
    <title>Kegiatan</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'kegiatan.css' %}">

    
</head>

<body>
    {% include "navbar.html" %}

    <div class="container pt-3 pl-1">
        <div class="row">
            <div class="col-4">
                <h4>Tambahkan Kegiatan</h4>

               
                    <form action="" method="post" class="kegiatan-form" class="card-text">
                        {{ formkegiatan }}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-secondary" value="Tambah">
                    </form>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-4 pl-4 ">
        <div class="row">
            {% for kegiatan in data_kegiatan %}
            <div class="col-4">
                <div class="card" style="width: 18rem; background-color: rgb(134, 221, 147);">
                    Kegiatan:
                  {{ kegiatan.0.nama }}<br>
                    Nama-nama Peserta:<br>
        
                  <div class="card-body" style="background-color: rgb(87, 184, 124);">
                      {% for peserta in kegiatan.1 %}
                      {{peserta.nama}}
                      <br>
                      {% endfor %}
                  </div>
                  <div class="card-body">
                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong" onclick="tambahPeserta('{{kegiatan.0.nama}}',{{kegiatan.0.id}})">
                          Tambah Peserta
                    </button>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nama Kegiatan : <span id="namaKegiatan"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form id="form" method="POST">
                        {% csrf_token %}
                          <input type="hidden" name="id_kegiatan" id="idKegiatan" value="">
                        {{formpeserta}}
                          <button type="submit" class="btn btn-primary">Masukkan</button>
              </div>
              <div class="modal-footer">
        
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
            </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function tambahPeserta(namaKegiatan, idKegiatan){
        document.getElementById('namaKegiatan').innerHTML=namaKegiatan;
        document.getElementById('idKegiatan').value=idKegiatan;
    }
    </script>
</body>

