<!DOCTYPE html>

{% load static %}


<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <ul class="nav navbar-right navbar-brand">
                <a href="https://story4-calmeryan.herokuapp.com/">
                    story4
                </a>
            </ul>
        </div>
    </nav>
</body>